{% extends 'base.html.twig' %}

{% block title %}{{ 'edit.category'|trans }}{% endblock %}

{% block body %}
    <h1>{{ 'edit.category'|trans }}</h1>

    {{ include('category/_form.html.twig', {'button_label': 'Update'}) }}

    <a href="{{ path('app_category_index') }}">{{ 'return.categories'|trans }}</a>

    {{ include('category/_delete_form.html.twig') }}
{% endblock %}
