{% extends 'base.html.twig' %}

{% block title %}{{ 'common.category'|trans }}{% endblock %}

{% block body %}
    <h1>{{ 'common.category'|trans }}</h1>

    <table class="table">
        <tbody>
            <tr>
                <th>{{ 'common.id'|trans }}</th>
                <td>{{ category.id }}</td>
            </tr>
            <tr>
                <th>{{ 'common.name'|trans }}</th>
                <td>{{ category.name }}</td>
            </tr>
        </tbody>
    </table>

    <a href="{{ path('app_category_index') }}">{{ 'return.categories'|trans }}</a>

    <a href="{{ path('app_category_edit', {'id': category.id}) }}">{{ 'index.edit'|trans }}</a>

    {{ include('category/_delete_form.html.twig') }}
{% endblock %}
