{% extends 'base.html.twig' %}

{% block title %} {{ 'admin.block_title.title'|trans }} {% endblock %}

{% block body %}
    <div class="container">
        <h1> {{ 'admin.dashboard.title'|trans }}</h1>

        {# --- Section vente par mois --- #}
        <div class="row">
            <h3>{{ 'admin.dashboard_sales_by_month.title'|trans }}</h3>
            <table>
                <thead>
                <tr>
                    <th>{{ 'admin.dashboard_sales.month'|trans }}</th>
                    <th>{{ 'admin.dashboard_sales.amount'|trans }}</th>
                </tr>
                </thead>
                <tbody>
                {% for sale in totalSalesByMonth|slice(0, 12) %}
                    <tr>
                        <td>{{ sale.month }}/{{ sale.year }}</td>
                        <td>{{ sale.totalSales|number_format(2, ',', ' ') }} €</td>
                    </tr>
                {% else %}
                    <tr>
                        <td>
                            {{ 'admin.dashboard_sales.no_data'|trans }}
                        </td>
                    </tr>
                {% endfor %}
                </tbody>
            </table>
        </div>

        {# --- Section disponibilité du stock --- #}
        <div class="row">
            <h3> {{ 'admin.dashboard_product.title'|trans }}</h3>

            <div class="stat-box">
                <span class="label"> {{ 'admin.dashboard_product_in_stock.title'|trans }} :</span>
                <strong>{{ statusStats.ratio.inStock }}%</strong>
                <small>({{ 'admin.dashboard_product.count'|trans({'count': (statusStats.count.inStock|default(0)) + 0})}})</small>
            </div>

            <div class="stat-box">
                <span class="label"> {{ 'admin.dashboard_product_out_of_order.title'|trans }} :</span>
                <strong>{{ statusStats.ratio.outOfOrder }}%</strong>
                <small>({{ 'admin.dashboard_product.count'|trans({'count': (statusStats.count.outOfOrder|default(0)) + 0})}})</small>
            </div>

            <div class="stat-box">
                <span class="label"> {{ 'admin.dashboard_product_preorder.title'|trans }} :</span>
                <strong>{{ statusStats.ratio.preorder }}%</strong>
                <small>({{ 'admin.dashboard_product.count'|trans({'count': (statusStats.count.preorder|default(0)) + 0})}})</small>
            </div>
        </div>

        <hr>

        {# --- Section Catégories --- #}
        <div class="row">
            <h3>{{ 'admin.dashboard_categories.title'|trans }}</h3>
            <ul>
                {% for category in categoriesStats %}
                    <li>
                        <strong>{{ category.name }}</strong> : {{ 'admin.dashboard_categories.products_count'|trans({'count': (category.count|default(0)+0)})}}
                    </li>
                {% else %}
                    <li>{{ 'admin.dashboard_categories.no_data'|trans }}</li>
                {% endfor %}
            </ul>
        </div>

        <hr>

        {# --- Section Commandes --- #}
        <div class="row">
            <h3>{{ 'admin.dashboard_orders.title'|trans }}</h3>
            <table>
                <thead>
                <tr>
                    <th>{{ 'admin.dashboard_orders.reference'|trans }}</th>
                    <th>{{ 'admin.dashboard_orders.date'|trans }}</th>
                    <th>{{ 'admin.dashboard_orders.status'|trans }}</th>
                    <th>{{ 'admin.dashboard_orders.customer'|trans }}</th>
                </tr>
                </thead>
                <tbody>
                {% for order in fiveLastOrders %}
                    <tr>
                        <td>{{ order.reference }}</td>
                        <td>{{ order.createdAt|date('d/m/Y H:i') }}</td>
                        <td>{{ order.status.value }}</td>
                        <td>
                            {{ order.user.email }}
                        </td>
                    </tr>
                {% else %}
                    <tr>
                        <td colspan="4">{{ 'admin.dashboard_orders.no_data'|trans }}</td>
                    </tr>
                {% endfor %}
                </tbody>
            </table>
        </div>
    </div>
{% endblock %}
