{% extends 'base.html.twig' %}

{% block title %}{{ 'product.index.title'|trans }}{% endblock %}

{% block body %}
    <h1>{{ 'product.index.title'|trans }}</h1>

    <table class="table">
        <thead>
            <tr>
                <th>{{ 'common.id'|trans }}</th>
                <th>{{ 'common.name'|trans }}</th>
                <th>{{ 'common.price'|trans }}</th>
                <th>{{ 'common.description'|trans }}</th>
                <th>{{ 'common.stock'|trans }}</th>
                <th>{{ 'common.status'|trans }}</th>
                <th>{{ 'common.actions'|trans }}</th>
            </tr>
        </thead>
        <tbody>
        {% for product in products %}
            <tr>
                <td>{{ product.id }}</td>
                <td>{{ product.name }}</td>
                <td>{{ product.price }}</td>
                <td>{{ product.description }}</td>
                <td>{{ product.stock }}</td>
                <td>
                    <span class="badge bg-{{ product.status.getBootstrapColor }}">
                        {{ product.status.value }}
                    </span>
                </td>
                <td>
                    <a href="{{ path('app_product_show', {'id': product.id}) }}">{{ 'index.show'|trans }}</a>
                    <a href="{{ path('app_product_edit', {'id': product.id}) }}">{{ 'index.edit'|trans }}</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="7">{{ 'product.no_data'|trans }}</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <div class="d-flex justify-content-center mt-4">
        {{ knp_pagination_render(products) }}
    </div>

    <a href="{{ path('app_product_new') }}">{{ 'product.create_new'|trans }}</a>
{% endblock %}
