{% extends 'base.html.twig' %}

{% block title %}{{ 'new.product'|trans }}{% endblock %}

{% block body %}
    <h1>{{ 'new.product'|trans }}</h1>

    {{ include('product/_form.html.twig') }}

    <a href="{{ path('app_product_index') }}">{{ 'return.products'|trans }}</a>
{% endblock %}
