{% extends 'base.html.twig' %}

{% block title %}{{ 'common.product'|trans }}{% endblock %}

{% block body %}
    <h1>{{ 'common.product'|trans }}</h1>

    <table class="table">
        <tbody>
            <tr>
                <th>{{ 'common.id'|trans }}</th>
                <td>{{ product.id }}</td>
            </tr>
            <tr>
                <th>{{ 'common.name'|trans }}</th>
                <td>{{ product.name }}</td>
            </tr>
            <tr>
                <th>{{ 'common.price'|trans }}</th>
                <td>{{ product.price }}</td>
            </tr>
            <tr>
                <th>{{ 'common.description'|trans }}</th>
                <td>{{ product.description }}</td>
            </tr>
            <tr>
                <th>{{ 'common.stock'|trans }}</th>
                <td>{{ product.stock }}</td>
            </tr>
            <tr>
                <th>{{ 'common.status'|trans }}</th>
                <td>
                    <span class="badge bg-{{ product.status.getBootstrapColor }}">
                        {{ product.status.value }}
                    </span>
                </td>
            </tr>
        </tbody>
    </table>

    <a href="{{ path('app_product_index') }}">{{ 'return.products'|trans }}</a>

    <a href="{{ path('app_product_edit', {'id': product.id}) }}">{{ 'index.edit'|trans }}</a>

    {{ include('product/_delete_form.html.twig') }}
{% endblock %}
