<header>
    <nav class="navbar navbar-expand-lg navbar-dark bg-primary">
        <div class="container-fluid">

            <button class="btn btn-primary me-2" type="button" data-bs-toggle="collapse" data-bs-target="#sidebarMenu" aria-expanded="false" aria-controls="sidebarMenu">
                <i class="bi bi-list"></i>
            </button>


            <a class="navbar-brand" href="{{ path('home') }}">
                <img src="https://cdn.jsdelivr.net/gh/homarr-labs/dashboard-icons/png/satisfactory.png"
                     alt="Logo"
                     width="30"
                     height="30"
                     class="d-inline-block align-text-top">
                <strong>{{ 'title'|trans }}</strong>
            </a>


            <div class="collapse navbar-collapse" id="navbarMain">
                <ul class="navbar-nav me-auto">
                    <li class="nav-item">
                        {% set current_locale = app.request.locale %}
                        <a class="nav-link"
                            {% if current_locale == 'fr' %}
                                href="{{ path('change_locale', {'locale': 'en'}) }}" title="{{ 'navbar.switch_to.english'|trans }}"
                            {% else %}
                                href="{{ path('change_locale', {'locale': 'fr'}) }}" title="{{ 'navbar.switch_to.french'|trans }}"
                            {% endif %}
                        >
                            {{ current_locale|upper }}
                        </a>
                    </li>

                    <li class="nav-item">
                        <a class="nav-link {{ app.request.attributes.get('_route') == 'home' ? 'active' }}"
                           href="{{ path('home') }}">
                            {{ 'navbar.home'|trans }}
                        </a>
                    </li>

                    <li class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown">
                            {{ 'navbar.menu.title'|trans }}
                        </a>
                        <ul class="dropdown-menu">
                            <li><a class="dropdown-item" href="#">{{ 'navbar.menu.option1'|trans }}</a></li>
                            <li><a class="dropdown-item" href="#">{{ 'navbar.menu.option2'|trans }}</a></li>
{#                            <li><hr class="dropdown-divider"></li>#}
{#                            <li><a class="dropdown-item" href="#">Tous les services</a></li>#}
                        </ul>
                    </li>
                </ul>

                <ul class="navbar-nav ms-auto">
                    {% if app.user %}
                    <li class="nav-item">
                        <a class="nav-link {{ app.request.attributes.get('_route') == 'app_logout' ? 'active' }}" href="{{ path('app_logout') }}">
                            <i class="bi bi-box-arrow-right me-2"></i> {{ 'navbar.logout.button'|trans }}
                        </a>
                    </li>
                    {% else %}
                    <li class="nav-item">
                        <a class="nav-link {{ app.request.attributes.get('_route') == 'app_login' ? 'active' }}" href="{{ path('app_login') }}">
                            {{ 'navbar.login.button'|trans }}
                        </a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link {{ app.request.attributes.get('_route') == 'app_register' ? 'active' }}" href="{{ path('app_register') }}">
                            {{ 'navbar.register.button'|trans }}
                        </a>
                    </li>
                    {% endif %}
                </ul>
            </div>

        </div>
    </nav>
</header>