{% extends 'base.html.twig' %}

{% block title %}{{ 'edit.order'|trans }}{% endblock %}

{% block body %}
    <h1>{{ 'edit.order'|trans }}</h1>

    {{ include('order/_form.html.twig', {'button_label': 'Update'}) }}

    <a href="{{ path('app_order_index') }}">{{ 'return.orders'|trans }}</a>

{#    {{ include('order/_delete_form.html.twig') }}#}
{% endblock %}
