{% extends 'base.html.twig' %}

{% block title %}{{ 'order.title'|trans }}{% endblock %}

{% block body %}
    <h1>{{ 'order.title'|trans }}</h1>

    <table class="table">
        <thead>
            <tr>
                <th>{{ 'common.id'|trans }}</th>
                <th>{{ 'common.reference'|trans }}</th>
                <th>{{ 'common.status'|trans }}</th>
                <th>{{ 'common.actions'|trans }}</th>
            </tr>
        </thead>
        <tbody>
        {% for order in orders %}
            <tr>
                <td>{{ order.id }}</td>
                <td>{{ order.reference }}</td>
                <td>
                    <span class="badge bg-{{ order.status.getBootstrapColor }}">
                        {{ order.status.value }}
                    </span>
                </td>
                <td>
                    <a href="{{ path('app_order_show', {'id': order.id}) }}">{{ 'index.show'|trans }}</a>
                    <a href="{{ path('app_order_edit', {'id': order.id}) }}">{{ 'index.edit'|trans }}</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="4">{{ 'order.no_data'|trans }}</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <div class="d-flex justify-content-center mt-4">
        {{ knp_pagination_render(orders) }}
    </div>

{#    <a href="{{ path('app_order_new') }}">Create new</a>#}
{% endblock %}
