{% extends 'base.html.twig' %}

{% block title %}{{ 'new.order'|trans }}{% endblock %}

{% block body %}
    <h1>{{ 'new.order'|trans }}</h1>

    {{ include('order/_form.html.twig') }}

    <a href="{{ path('app_order_index') }}">{{ 'return.orders'|trans }}</a>
{% endblock %}
