{% extends 'base.html.twig' %}

{% block title %}{{ 'common.order'|trans }}{% endblock %}

{% block body %}
    <h1>{{ 'common.order'|trans }}</h1>

    <table class="table">
        <tbody>
            <tr>
                <th>{{ 'common.id'|trans }}</th>
                <td>{{ order.id }}</td>
            </tr>
            <tr>
                <th>{{ 'common.reference'|trans }}</th>
                <td>{{ order.reference }}</td>
            </tr>
            <tr>
                <th>{{ 'common.status'|trans }}</th>
                <td>
                    <span class="badge bg-{{ order.status.getBootstrapColor }}">
                        {{ order.status.value }}
                    </span>
                </td>
            </tr>
        </tbody>
    </table>

    <a href="{{ path('app_order_index') }}">{{ 'return.orders'|trans }}</a>

    <a href="{{ path('app_order_edit', {'id': order.id}) }}">{{ 'index.edit'|trans }}</a>

{#    {{ include('order/_delete_form.html.twig') }}#}
{% endblock %}
