{% extends 'base.html.twig' %}

{% block title %}{{ 'user.title'|trans }}{% endblock %}

{% block body %}
    <h1>{{ 'common.users'|trans }}</h1>

    <table class="table">
        <thead>
            <tr>
                <th>{{ 'common.id'|trans }}</th>
                <th>{{ 'common.email'|trans }}</th>
                <th>{{ 'common.first_name'|trans }}</th>
                <th>{{ 'common.last_name'|trans }}</th>
                <th>{{ 'common.roles'|trans }}</th>
                <th>{{ 'common.password'|trans }}</th>
                <th>{{ 'common.actions'|trans }}</th>
            </tr>
        </thead>
        <tbody>
        {% for user in users %}
            <tr>
                <td>{{ user.id }}</td>
                <td>{{ user.email }}</td>
                <td>{{ user.firstName }}</td>
                <td>{{ user.lastName }}</td>
                <td>{{ user.roles ? user.roles|json_encode : '' }}</td>
                <td>{{ user.password }}</td>
                <td>
                    <a href="{{ path('app_user_show', {'id': user.id}) }}">{{ 'index.show'|trans }}</a>
                    <a href="{{ path('app_user_edit', {'id': user.id}) }}">{{ 'index.edit'|trans }}</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="7">{{ 'user.no_data'|trans }}</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <div class="d-flex justify-content-center mt-4">
        {{ knp_pagination_render(users) }}
    </div>

    <a href="{{ path('app_user_new') }}">{{ 'user.create_new'|trans }}</a>
{% endblock %}
